{% extends "publicPageLayout.html" %}

{% block styles %}
<style>
	input[type="submit"] {
		width: 15rem;
		height: 2.5rem;
	}
</style>
{% endblock styles %} 

{% block content %}
	<div class="pageTitle">
		<h1>Reset Password</h1>
	</div>
	<div class="container mt-5" >
		<form method="POST" action="">
			{{ form.hidden_tag() }}
			<div class="form-group row justify-content-md-center">
				<div class="col-sm-8">
					{% with messages = get_flashed_messages(with_categories=true) %} 
						{% if messages %} 
							{% for category, message in messages %}
								<div class="alert alert-{{ category }}">
									{{ message }}
								</div>
							{% endfor %} 
						{% endif %} 
					{% endwith %}
				</div>
			</div>
			<div class="form-group row justify-content-md-center">
				<div class="col-md-4">
					<div class="input-group">
						<div class="input-group-prepend">
							<div class="input-group-text" style="border-radius: 1.25rem 0 0 1.25rem;"><i class="fas fa-at"></i></div>
						</div>
						{{ form.email(class="form-control form-control-lg") }} 
						
					</div>
					{% if form.email.errors %} 		
					<div class="invalid-feedback d-block">
						{% for error in form.email.errors %}
							<span>{{ error }}</span>
						{% endfor %}
					</div>	
					{% endif %}
				</div>
			</div>

			<div class="form-group row justify-content-md-center mt-0">
				{{ form.submitForm(class="btn mt-4 btn-primary") }}
			</div>
		</form>
		<img src="/static/images/powered_by.png" class="mt-5 img-responsive">
	</div>
		
		

{% endblock content %}

{% block scripts %}
<script>
	$( "input[name='email']" ).on("focus",  function() {
		$(this).css({"-webkit-box-shadow": "none", "outline": "-webkit-focus-ring-color auto 0px", "border-left": "1px solid #dadada", "transition-property": "none"});
		$(this).closest(".input-group").toggleClass("inputGroupFocused");
	});

	$( "input[name='email']" ).on("focusout",  function() {
		$(this).css({"border": "1px solid #ced4da"});
		$(this).closest(".input-group").toggleClass("inputGroupFocused");
	});

	$(function (){
		$("input[name='id']").focus();
	});
</script>
{% endblock scripts %}